{% extends 'base.html' %}
{% block content %}
<div class="card p-4 shadow" style="max-width: 1200px; margin: 0 auto;">
    <div class="card-body">
        <div class="row">
            <!-- Content Column -->
            <div class="col-md-12">
                <div class="d-flex justify-content-end">
                    <a href="{% url 'profile_settings' %}" class="btn btn-secondary" style="color: white; background-color: gray;">Cancel</a>
                </div>
                <h2 class="card-title" style="margin-bottom: 30px;">Profile Settings</h2>

                <form method="post">
                    {% csrf_token %}

                    <div class="profile-settings">
                        <label for="username">Username:</label>
                        <input style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;" type="text" name="username" class="form-control-6" value="{{user.username}}">
                        <br>

                        <label for="email">Email:</label>
                        <input style="margin-left: 45px; margin-top: 10px; margin-bottom: 10px;" type="text" name="email" class="form-control-6" value="{{user.email}}">
                        <br>

                        <label for="password">Passsword:</label>
                        <input style="margin-left: 5px; margin-top: 10px; margin-bottom: 10px;" type="text" name="password" class="form-control-6" value="************">
                    </div>
                    
                    <br>
                    <button type="submit" id="save-button" class="custom-dark-button" >Save Changes</button>
                    <button href="{% url 'index' %}" name="logout" class="btn btn-secondary" style="margin-left:5px;">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}