{% extends 'base.html' %}
{% block title %}Welcome Page{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<header>
    <h1>Welcome to To-Do List!</h1>
</header>
<main>
    <p>Welcome! This is the start of development of the To-Do List App</p>
    <p>Customers need an app to help organize and track their tasks. Many people struggle today with handling busy schedules and responsibilities. Tracking tasks can also be stressful enough, especially for those who have many responsibilities. The To-Do List would be able to provide an environment to store, track, and suggest tasks. </p>
</main>
<footer>
</footer>
{% endblock %}