<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>To-Do App</title>
</head>
<body>
    <header>
        <h1>Welcome to To-Do List!</h1>
    </header>
    <main>
        <p>Welcome! This is the start of development of the To-Do List App</p>
    </main>
    <footer>
        <p>Hello!</p>
    </footer>
</body>
</html>