{% extends 'base.html' %}

{% block content %}

{% block head %}
    <!-- Help from ChatGPT -->
    {{ form.media.css }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        /* Ensure Select2 dropdown takes full width */
        .select2-container {
            width: 50% !important;
        }
    </style>
    <script>
        $(document).ready(function() {
            $('.django-select2').select2();  // Apply Select2 styling
        });
    </script>
{% endblock %}

    <div class="container mt-4">
        <h2 class="mb-4">Share task {{task.name }}</h2>

        <div class="card p-4 shadow">
            {% if request.user.username != task.creator.username %}
                <p>Creator: {{ task.creator.username }}</p>
            {% endif %}
            <p>Shared Users:</p>
            {% for user in task.assigned_users.all %}
                    <p>- {{ user.username }}</p>
                {% empty %}
                    <p>None</p>
            {% endfor %}
            <p>Link: {{ url }}</p>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-success">Share Task</button>
            </form>

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {{ form.media.js }}
    </div>
</body>
{% endblock %}