{% extends 'base.html' %}

{% block content %}

{% block extra_css %}
    <script>
        function resetFilter(){
            document.getElementsByName('reset-filter');
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(checkbox => checkbox.checked = false);
            document.forms['filter_tasks'].submit();
        }
    </script>
    {{ form.media.css }}
{% endblock %}

<div class="alert alert-info alert-dismissible fade show d-flex justify-content-between align-items-center flex-wrap gap-2 border border-dark custom-alert" role="alert">
    <p class="mb-0">
      Welcome to the tasks page! Here, you will be able to view and manage tasks that are active, shared with you, and archived. You are also able to create new tasks and edit existing ones.
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>  

  <div class="alert alert-info d-flex justify-content-between align-items-center flex-wrap gap-2">
    <!-- Display generated task name and an option to add the generated task -->
    {% if suggested_name and has_task %}
        <p class="mb-0 mt-2" title="Personalized tasks are suggested to you based on your activity and patterns! Click 'Add Task' to customize this task and add it to your calendar.">
            <b>˗ˏˋ ★ ˎˊ˗ &ensp; Task Suggestion: &ensp;</b> {{ suggested_name }}
        </p>

        <!-- Button container floated right -->
        <div class="d-flex gap-2 ms-auto">
            <a href="{% url 'add_task' %}?name={{ suggested_name|urlencode }}&description={{ suggested_description|urlencode }}{% for cat in suggested_categories %}&categories={{ cat|urlencode }}{% endfor %}" class="custom-dark-button">
                Add Task
            </a>

            <form method="get">
                <button name="generate-task" type="submit" class="custom-dark-button">Generate Task</button>
            </form>
        </div>

    {% elif has_task and not suggested_name %}
        <strong>˗ˏˋ ★ ˎˊ˗ &ensp; Generate a personalized task</strong>

        <form method="get" class="ms-auto">
            <button name="generate-task" type="submit" class="custom-dark-button">Generate</button>
        </form>

    {% else %}
        <strong>˗ˏˋ ★ ˎˊ˗ &ensp; Create a task first!</strong>
    {% endif %}
</div>

<!-- User's Created Tasks -->
<div class="container mt-4">
    <div class="card p-4 shadow">

        <!-- Filter tasks form -->
        <div class="filter-form">
            <form method="get" title="Select a category to filter all tasks based on their category assignment." name="filter_tasks" class="d-flex justify-content-between align-items-center flex-wrap gap-2">
                {% csrf_token %}
                
                <label class="form-label">{{ form.user_category_filter.label }}</label>
                <div class="d-flex flex-row flex-wrap gap-3">
                    {% for checkbox in form.user_category_filter %}
                        <div class="form-check">
                            {{ checkbox.tag }}
                            <label class="form-check-label">{{ checkbox.choice_label }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex gap-2">
                    <button type="submit" name="make-filter" title="Filter" class="btn btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M440-160q-17 0-28.5-11.5T400-200v-240L168-736q-15-20-4.5-42t36.5-22h560q26 0 36.5 22t-4.5 42L560-440v240q0 17-11.5 28.5T520-160h-80Zm40-308 198-252H282l198 252Zm0 0Z"/></svg>
                    </button>
                    <button type="button" name="reset-filter" class="btn btn-secondary" onclick="resetFilter()">Reset</button>
                </div>
            </form> 
        </div>

        <div class="title-card d-flex justify-content-between align-items-center mt-4 mb-3" style="margin-top:20px;">
            <h2 class="mb-4">My Tasks</h2>

            <a href="{% url 'add_task' %}" class="custom-dark-button">+ Create Task</a>
        </div>
        
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Progress</th>
                        <th>Shared Users</th>
                        <th>Categories</th>
                    </tr>

                {% for task in my_tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.due_date|date:"M d, Y H:i" }}</td>
                    <td>{{ task.progress }}%</td>
                    <td>
                        {% for user in task.assigned_users.all %}
                            <span class="badge bg-secondary">{{ user.username }}</span>
                        {% empty %}
                            <span class="text-muted">None</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% for category in task.categories.all %}
                            <span class="badge bg-secondary">{{ category.name }}</span>
                        {% empty %}
                            <span class="text-muted">None</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'share_task' task_id=task.id %}">Share</a>
                        <a class="btn btn-secondary btn-sm" href="{% url 'edit_task' task.id %}">Edit</a>
                        <a class="btn btn-warning btn-sm" href="{% url 'archive_task' task.id %}">Archive</a>
                        <button class="btn btn-danger btn-sm" onclick="confirmDelete({{ task.id }})">Delete</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No tasks available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="title-card">
            <h2 class="mb-4" style="margin-top:20px;">Tasks Shared with Me</h2>
        </div>
        
        <div class="table-responsive">
            <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Progress</th>
                        <th>Creator</th>
                        <th>Categories</th>
                    </tr>
                    {% for task in shared_tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.due_date|date:"M d, Y H:i" }}</td>
                        <td>{{ task.progress }}%</td>
                        <td>{{ task.creator }}</td>
                        <td>
                            {% for category in task.categories.all %}
                                <span class="badge bg-secondary">{{ category.name }}</span>
                            {% empty %}
                                <span class="text-muted">None</span>
                            {% endfor %}
                        </td>
                        <td>
                            <div class="button-container">
                                <a class="btn btn-primary btn-sm" href="{% url 'share_task' task_id=task.id %}">Share</a>
                                <a href="{% url 'exit_task' task_id=task.id %}" class="btn btn-danger btn-sm">Exit</a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No tasks shared.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="title-card">
            <h2 class="mb-4" style="margin-top: 20px;">Task Requests</h2>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    {% if task_requests %}
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Progress</th>
                        <th>Creator</th>
                        <th>Actions</th>
                    </tr>
                    {% for request in task_requests %}
                    <tr>
                        <td>{{ request.task.name }}</td>
                        <td>{{ request.task.description }}</td>
                        <td>{{ request.task.due_date|date:"M d, Y H:i" }}</td>
                        <td>{{ request.task.progress }}</td>
                        <td>Shared from user {{request.task.creator}}</td>
                        <td>    
                            <form method="post" action="{% url 'accept_task' request.id %}">
                                {% csrf_token %}
                                <button class="btn btn-primary btn-sm" name="accept_request">Accept</button>
                                <button class="btn btn-danger btn-sm" name="decline_request">Decline</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No requests available.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function confirmDelete(taskId) {
        if (confirm("Are you sure you want to delete this task?")) {
            window.location.href = `/tasks/delete/${taskId}/`;
        }
    }
</script>
{% endblock %}