{% extends 'base.html' %}

{% block content %}

{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        /* Ensure Select2 dropdown takes full width */
        .select2-container {
            width: 300px !important;
        }
    </style>
    <script>
        $(document).ready(function() {
            $('.django-select2').select2({
                width: 'resolve',
            });  // Apply Select2 styling
        });
    </script>
    {{ form.media.css }}
{% endblock %}

{% if suggested_name %}
    <div class="alert alert-info ">
        <strong>˗ˏˋ ★ ˎˊ˗ &ensp; Task Suggestion: &ensp; </strong> {{ suggested_name }}
        <a href="{% url 'add_task' %}?name={{ suggested_name|urlencode }}&description={{ suggested_description|urlencode }}{% for cat in suggested_categories %}&categories={{ cat|urlencode }}{% endfor %}" class="btn btn-secondary">
            Add Task
        </a>
    </div>
{% else %}
    <strong>You have no task suggestions at the moment. Create a task first!</strong>
{% endif %}


<!-- User's Created Tasks -->
<div class="container mt-4">
    <div class="card p-4 shadow">
        <div class="filter-form">
            <form method="get" name="filter_tasks" class="d-flex justify-content-between align-items-center flex-wrap gap-2">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="make-filter" class="btn btn-secondary" style="color: white; background-color: gray;">Filter</button>
            </form> 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            {{ form.media.js }}
        </div>

        <div class="title-card d-flex justify-content-between align-items-center mt-4 mb-3" style="margin-top:20px;">
            <h2 class="mb-4">My Tasks</h2>

            <a href="{% url 'add_task' %}" class="btn btn-secondary mb-3" style="color: white; background-color: gray;">+ Create Task</a>
        </div>
        
        <table class="table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Progress</th>
                    <th>Shared Users</th>
                    <th>Categories</th>
                </tr>

                {% for task in my_tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.due_date|date:"M d, Y H:i" }}</td>
                    <td>{{ task.progress }}%</td>
                    <td>
                        {% for user in task.assigned_users.all %}
                            <span class="badge bg-secondary">{{ user.username }}</span>
                        {% empty %}
                            <span class="text-muted">None</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% for category in task.categories.all %}
                            <span class="badge bg-secondary">{{ category.name }}</span>
                        {% empty %}
                            <span class="text-muted">None</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'share_task' task_id=task.id %}">Share</a>
                        <a class="btn btn-secondary btn-sm" href="{% url 'edit_task' task.id %}">Edit</a>
                        <a class="btn btn-warning btn-sm" href="{% url 'archive_task' task.id %}">Archive</a>
                        <button class="btn btn-danger btn-sm" onclick="confirmDelete({{ task.id }})">Delete</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No tasks available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="title-card">
            <h2 class="mb-4" style="margin-top:20px;">Tasks Shared with Me</h2>
        </div>
        <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Progress</th>
                    <th>Creator</th>
                    <th>Categories</th>
                </tr>
                {% for task in shared_tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.due_date|date:"M d, Y H:i" }}</td>
                    <td>{{ task.progress }}%</td>
                    <td>{{ task.creator }}</td>
                    <td>
                        {% for category in task.categories.all %}
                            <span class="badge bg-secondary">{{ category.name }}</span>
                        {% empty %}
                            <span class="text-muted">None</span>
                        {% endfor %}
                    </td>
                    <td>
                        <div class="button-container">
                            <a class="btn btn-primary btn-sm" href="{% url 'share_task' task_id=task.id %}">Share</a>
                            <a href="{% url 'exit_task' task_id=task.id %}" class="btn btn-danger btn-sm">Exit</a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No tasks shared.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="title-card">
            <h2 class="mb-4" style="margin-top: 20px;">Task Requests</h2>
        </div>
        <table class="table">
            <tbody>
                {% if task_requests %}
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Progress</th>
                    <th>Creator</th>
                    <th>Actions</th>
                </tr>
                {% for request in task_requests %}
                <tr>
                    <td>{{ request.task.name }}</td>
                    <td>{{ request.task.description }}</td>
                    <td>{{ request.task.due_date|date:"M d, Y H:i" }}</td>
                    <td>{{ request.task.progress }}</td>
                    <td>Shared from user {{request.task.creator}}</td>
                    <td>    
                        <form method="post" action="{% url 'accept_task' request.id %}">
                            {% csrf_token %}
                            <button class="btn btn-primary btn-sm" name="accept_request">Accept</button>
                            <button class="btn btn-danger btn-sm" name="decline_request">Decline</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" class="text-center">No requests available.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<!-- User's Archived Tasks -->
<div class="container mt-4">

    <div class="card p-4 shadow">
        <div class="title-card">
            <h2 class="mb-4">Archived Tasks</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Progress</th>
                    <th>Creator</th>
                    <th>Categories</th>
                </tr>
            </thead>
            <tbody>
                {% for task in archived_tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.due_date|date:"M d, Y H:i" }}</td>
                    <td>{{ task.progress }}%</td>
                    <td>{{ task.creator }}</td>
                    <td>
                        {% for category in task.categories.all %}
                            <span class="badge bg-secondary">{{ category.name }}</span>
                        {% empty %}
                            <span class="text-muted">None</span>
                        {% endfor %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No archived tasks available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    function confirmDelete(taskId) {
        if (confirm("Are you sure you want to delete this task?")) {
            window.location.href = `/tasks/delete/${taskId}/`;
        }
    }
</script>
{% endblock %}