{% extends 'base.html' %}

{% block content %}
<div class="alert alert-info alert-dismissible fade show d-flex justify-content-between align-items-center flex-wrap gap-2 border border-dark custom-alert" role=alert">
    <p class="mb-0">
      Welcome to the task archive page! Here, you will be able to view all tasks that either manually or automatically archived. Tasks that are fully completed and past their deadline will be automatically archived and added to this page. You may also manually archive a task from the task page. 
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>  



<div class="container mt-4">
    <div class="card p-4 shadow">
                <!-- Filter tasks form -->
        <div class="filter-form mb-3">
            <form method="get" name="filter_tasks" class="d-flex justify-content-between align-items-center flex-wrap gap-2">
                {% csrf_token %}
                <label class="form-label">{{ form.user_category_filter.label }}</label>
                <div class="d-flex flex-row flex-wrap gap-3">
                    {% for checkbox in form.user_category_filter %}
                        <div class="form-check">
                            {{ checkbox.tag }}
                            <label class="form-check-label">{{ checkbox.choice_label }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex gap-2">
                    <button type="submit" name="make-filter" title="Filter" class="btn btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M440-160q-17 0-28.5-11.5T400-200v-240L168-736q-15-20-4.5-42t36.5-22h560q26 0 36.5 22t-4.5 42L560-440v240q0 17-11.5 28.5T520-160h-80Zm40-308 198-252H282l198 252Zm0 0Z"/></svg>
                    </button>
                    <button type="button" name="reset-filter" class="btn btn-secondary" onclick="resetFilter()">Reset</button>
                </div>
            </form> 
        </div>

        <h2 class="mb-4">Task Archive</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Progress</th>
                        <th>Categories</th>
                        <th>Creator</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in archived_tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.due_date|date:"M d, Y H:i" }}</td>
                        <td>{{ task.progress }}%</td>
                        <td>
                            {% for user in task.assigned_users.all %}
                                <span class="badge bg-secondary">{{ user.username }}</span>
                            {% empty %}
                                <span class="text-muted">None</span>
                            {% endfor %}
                        </td>
                        <td>
                            {% for category in task.categories.all %}
                                <span class="badge bg-secondary">{{ category.name }}</span>
                            {% empty %}
                                <span class="text-muted">None</span>
                            {% endfor %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="custom-dark-button dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg class="theme-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"/></svg>
                                </button>
                                <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'restore_task' task.id %}">Restore</a>
                                <a class="dropdown-item" href="{% url 'edit_task' task.id %}">Edit </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" onclick="confirmDelete({{ task.id }})">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function resetFilter() {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(checkbox => checkbox.checked = false);
        document.forms['filter_tasks'].submit();
    }
</script>

<script>
    function confirmDelete(taskId) {
        if (confirm("Are you sure you want to permanently delete this task?")) {
            window.location.href = `/tasks/delete/${taskId}/`;
        }
    }
</script>

{% endblock %}
